<div class="row text-center">
  <div class="jumbotron">  
    <p class="lead" style="color:#999; font-size:3em;">choose by content, not picture.</p>
    
    <div class="col-md-12" style="margin-top:50px;">
      
      <!-- LEFT -->
      <div class="col-md-6 text-center">
        VIDEO
        <!-- youtube video -->
        <div class="embed-responsive embed-responsive-4by3">
          <!--<iframe src="https://www.youtube.com/watch?v=xdiFzcpmmJc" frameborder="0" class="embed-responsive-item"></iframe>-->
        </div>    
      </div>
      <div class="col-md-6">
        
        <table style="color:#666; font-size:1.2em;" class="text-left">
          <tr>
            <td>
              Only show your picture to the ones you want
            </td>
            <td>check</td>
          </tr>
          <tr>
            <td>
              Receive no spam on your inbox
            </td>
            <td>
              check
            </td>
          </tr>
          <tr>
            <td>
              Share your thoughts with dotod comunity
            </td>
            <td></td>
          </tr>
        </table>

      </div>

    </div>
    

  </div>
</div>