<div class="row text-center">
  <div class="jumbotron">  
    <h1>are you unique?</h1>
    <h4>
      <span style="text-decoration: underline; cursor:pointer;" data-toggle="modal" data-target="#signup_modal">
        sign up
      </span> 
      &nbsp;an get to know new people based on who they are
    </h4>
  </div>
</div>


<div class="row text-center">
  <div class="col-md-4">
    <div class="col-md-10 col-md-offset-1 well">
      AQIU
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-10 col-md-offset-1 well">
      AQIU
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-10 col-md-offset-1 well">
      AQIU
    </div>
  </div>
</div>