<div class="col-md-12" ng-controller="settings" ng-init="init(<%= @user.to_json %>)">
  
  <p class="font-big color-grey">
    Settings
  </p>
  
  <!-- GENERAL DETAILS -->
  <div class="col-md-12">
    
    <table>
      <tr>
        <td><b>Name</b></td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td> <b>Birthdate</b> </td>
        <td>{{user.birthdate}}</td>
      </tr>
      <tr>
        <td> <b>Location</b> </td>
        <td>Lisbon, Portugal</td>
      </tr>
      <tr>
        <td> <b>Work</b> </td>
        <td>Software Developer</td>
      </tr>
    </table>

  </div>

  <!-- PASSWORD DETAILS -->
  <div class="col-md-12">
    <table>
      <tr>
        <td> <b>Password&nbsp;</b></td>
        <td><a href="/settings/password" style="color:#cc181e;">change&nbsp;</a></td>
        <td> <i class="glyphicon glyphicon-lock color-grey"></i> </td>
      </tr>
    </table>
  </div>

</div>