<div class="col-md-12" ng-controller="settings" ng-init="init(<%= @user.to_json %>)">
  
  <p class="font-big color-grey">
    Settings
  </p>
  
  <!-- GENERAL DETAILS -->
  <div class="col-md-12">  
    <table class="table">
      <tr>
        <td><b>Name</b></td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td><b>Email<b></td>
        <td>{{user.email}}</td>
      </tr>

      <tr>
        <td> <b>Password&nbsp;</b></td>
        <td>
          <a href="/settings/password" style="color:#cc181e;">change&nbsp;</a>
          &nbsp;&nbsp;
          <i class="glyphicon glyphicon-lock color-grey"></i>
        </td>
      </tr>

    <tr>
      <td></td>
      <td><%= @user.available_punches %> punches left&nbsp; 
        <button class="btn btn-xs btn-success no-border">get more</button></td>
    </tr>
    </table>
  </div>

</div>