<div class="col-md-12" ng-controller="change_password">
  
  <p>
    <span class="lead">Change password</span>
  </p>
  <p class="text-danger" ng-if="errors.unkown">oops... it's not you. it's us.<br>please try again later</p>

  <form>
    <div class="form-group">
      <span class="text-danger" ng-if="errors.wrong_pass">wrong password</span>
      <input type="password" ng-model="password.cur" class="form-control" placeholder="Current password" required="required">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="password.newpass" placeholder="New Password" required="required">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="password.newpass_confirmation" placeholder="Confirm New password" required="required">
    </div>
    <div class="form-group">
      <span class="text-danger" ng-if="errors.match">passwords do not match</span>
      <button class="btn btn-danger" ng-click="change()">Change Password</button>
      &nbsp;&nbsp;
      | <a href="/settings" style="color:#cc181e;">cancel</a>
    
    </div>
  </form>

</div>