<div class="col-md-12" ng-controller="change_profession">
  
  <p class="lead">Change profession</p>

  <form>
    <div class="form-group">
      <label class="color-grey">Select your professional sector</label>
      <select ng-model="selected_sector" class="form-control" placeholder="oioi">
        <option ng-repeat="sector in sectors" value="{{sector.id}}">{{sector.name}}</option>
      </select>
    </div>
    <div class="form-group" ng-if="selected_sector != undefined && selected_sector != 'undefined'">
      <label class="color-grey">Sector Area</label>
      <select ng-model="selected_sector_area" class="form-control">
        <option ng-repeat="sector_area in sector_areas" value="{{sector_area.id}}" selected="selected">{{sector_area.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-danger" ng-click="change()">Change Profession</button>
      &nbsp;&nbsp;
      | <a href="/settings" style="color:#cc181e;">cancel</a>
    </div>
  </form>

</div>