<div class="col-md-12" ng-controller="matches" id="container">
  
  <p> 
      <!-- GENDER -->
      <div class="col-xs-2">
        Looking for&nbsp;
        <i class="glyphicon glyphicon-heart-empty"></i>
        <a style="text-decoration:underline;" type="button" data-toggle="dropdown" class="color-red dropdown-toggle">{{searchParams.looking_for}}</a>
        </a>
        <ul class="dropdown-menu">
          <li ng-class="{'active':searchParams.looking_for == 'women'}"><a ng-click="updateLookingFor('women')">women</a></li>
          <li ng-class="{'active':searchParams.looking_for == 'men'}"><a ng-click="updateLookingFor('men')">men</a></li>
        </ul>
      </div>
      &nbsp;&nbsp;
  
      <!-- LOCATION -->
      <div class="dropdown dropdown-location col-xs-2" style="position:relative;">
        <span ng-if="searchParams.city || searchParams.country">in </span>
        <i class="glyphicon glyphicon-map-marker" ng-if="searchParams.city || searchParams.country"></i>
        <a id="city" ng-click="showSelectLocation()" style="text-decoration:underline;" class="color-red country-toggle" ng-if="searchParams.city">{{searchParams.city.name}}, </a>
        <a id="country" ng-click="showSelectLocation()" style="text-decoration:underline;" class="color-red country-toggle" ng-if="searchParams.country">{{searchParams.country.name}},</a> 
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div id="country-dropdown" class="drop well" style="width:250px; padding:10px; position:absolute; z-index:1000; background:none; background-color:#FFF; display:none;">
          <!-- COUNTRY -->
          <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control">
              <option ng-repeat="country in countries" ng-click="get_cities(country.id)">{{country.name}}</option>
            </select>
          </div>
          <!-- CITY -->
          <div ng-if="cities && cities.length > 0" class="form-group">
            <label for="city">City</label>
            <select class="form-control">
              <option ng-repeat="city in cities" ng-click="selectCtiy(city.id)">{{city.name}}</option>
            </select>
          </div>
          <!-- COUNTRY -->
          <div class="form-group">
            <button ng-click="updateLocation()" class="btn btn-success" style="width:100%;">save</button>
          </div>

        </div>
      </div>


      <!-- AGE -->
      <div class="col-xs-4" style="position:relative;">
        <i class="glyphicon glyphicon-tag" ng-if="searchParams.min_age || searchParams.max_age"></i>
        <span id="age" ng-click="showSelectRange()" style="text-decoration:underline;" class="color-red" ng-if="searchParams.min_age && searchParams.max_age">between {{searchParams.min_age}} and {{searchParams.max_age}} years old</span>
        <span id="age" ng-click="showSelectRange()" ng-if="searchParams.min_age && !searchParams.max_age"> over {{searchParams.min_age}} years old</span>
        <span id="age" ng-click="showSelectRange()" ng-if="!searchParams.min_age && searchParams.max_age"> under {{searchParams.max_age}} years old</span>
        </p>

        <!-- RANGE -->
        <div id="age-dropdown" class="dropdown-menu" style="position:absolute; z-index: 1000; width:300px; padding:10px; display:none;">
          
          <div class="col-md-6">
            <div class="form-group">
              <label for="min_age">From</label>
              <input id="min_age" type="text" class="form-control" ng-model="searchParams.min_age" placeholder="20">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="max_age">To</label>
              <input id="max_age" type="text" class="form-control" ng-model="searchParams.max_age" placeholder="40">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button class="btn btn-success" ng-click="updateAge()" style="width:100%;">save</button>
            </div>
          </div>          
        </div>
      </div>
    </p>

    <div class="col-md-3 well text-center" style="padding:2px; position:relative;" ng-repeat="match in matches.list">

      <!-- STATUS -->
      <span class="badge badge-success" style="position:absolute; top:10px; right:10px;">&nbsp;</span>

      <!-- USERNAME -->
      <div class="col-md-12" style="z-index:1000; position:absolute; background-color:#eee; font-size:1.2em; color:#FFF; top:180px;">
        {{match.user.name}}
      </div>

      <!-- user picture -->
      <div class="col-md-12">
        <img ng-class="setBlurOrNot(match)" src="http://lorempixel.com/200/200" alt="{{match.name}}">
      </div>
      <!-- user details -->
      <div class="col-md-12">
        
        <div class="col-md-4" ng-if="match.friends">
          <button class="btn btn-xs btn-primary" ng-click="open_send_message(match.user.id)">MSG</button>
        </div>
        <div class="col-md-4">
          <a href="/users/{{match.user.id}}">Profile</a>
        </div>
        <div class="col-md-4">
          <span ng-if="match.friends">FRIENDS</span>
          <span ng-if="match.punched_me" ng-click="punch_back(match.user.id)">Punch back!</span>
          <span ng-if="match.punched">Punched</span>
          <span ng-if="match.fresh" ng-click="punch(match.user.id)">PUNCH</span>
        </div>

      </div>

    </div>


    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    <div class="row" style="height:300px;">fdfsd</div>
    
    <p ng-if="searching">Searching...</p>

    <!-- Send Message Modal -->
    <div id="sendMessageModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" ng-click="open_send_message(1)">Send Message</h4>
          </div>
          <div class="modal-body">
            <div class="inpup-group">
              <textarea ng-model="message.body" class="form-control" aria-describedby="send-addon"></textarea>
            </div>
            <div class="inpup-group">            
              <button ng-if="!message.sending && !message.confirmation" class="btn btn-lg btn-success" style="width:100%;" ng-click="send_message()">SEND</button>
              <span ng-if="message.sending">Sending...</span>
              <span ng-if="message.confirmation">Your message is flying!</span>
            </div>

          </div>
        </div>

      </div>
    </div>


</div>
