<div class="col-md-12 footer text-center">
  
  <div class="col-md-12">&nbsp;</div>

  <div class="col-md-12 text-center">
    made by a bunch of geeks all around the globe<br>
    <a href="/terms" style="color:#FFF;">policy and terms of service</a>
  </div>

  <div class="col-md-12">&nbsp;</div>
</div>