<!-- Modal -->
<div id="signup_modal" ng-controller="signup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign up</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="submit()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="email" placeholder="Email" ng-required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" ng-model="password" placeholder="Password" ng-required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" ng-model="password_confirmation" placeholder="Password confirmation" ng-required>
          </div>
          <div class="form-group">
            Agree with terms&nbsp; <input type="checkbox" ng-model="terms" class="form-control" ng-required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-success">Sign up</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>